.clients{
    display: flex;
}
.clients .clientBlock {
    padding: 15px;
    margin-bottom: 15px;
}

.clientBlock {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 30px;
    opacity: .7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}