.aboutBlock{
    display: grid;
    grid-template-columns: 7fr 5fr;

}
.aboutText{
    width: 90%;
}
.infoList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infoList ul li {
    margin-bottom: 10px;
}

.infoList .title {
    color: #04b4e0;
    margin-right: 5px;
    font-weight: 600;
}





.infoBlockWIconContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.infoBlockWIcon {
    margin-bottom: 25px;
}

.infoBlockWIcon .ciText h4 {
    margin: 5px 0;
}

.infoBlockWIcon .ciText p {
    font-size: .95em;
}

.infoBlockWIcon .ciIcon {
    display: table-cell;
    width: 54px;
    padding-right: 25px;
}

.infoBlockWIcon .icon {
    position: relative;
    font-size: 42px;
    color: #04b4e0;
    opacity: .7;
}

.animatedSections {
    position: relative;
    height: 100%;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.animatedSection {
    position: absolute;
    background-color: #222;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 60px;
    /*opacity: 0;*/
    overflow: auto;
    /*visibility: hidden;*/
    /*-webkit-backface-visibility: hidden;*/
    /*-moz-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;
}



