.testimonials{
    display: flex;
}

.testimonial {
    text-align: center;
    border: 2px solid #444;
    border-radius: 20px;
    margin: 45px 2px 10px;
    padding: 0 25px 15px 25px;
}

.testimonial img {
    max-width: 90px;
    max-height: 90px;
    margin: -45px auto 20px;
    border-radius: 90px;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,.22);
}

.testimonial .text {
    text-align: left;
    font-style: italic;
}

.testimonial .authorInfo {
    position: relative;
    text-align: left;
    margin-top: 20px;
}

.testimonial .authorInfo .icon {
    content: '';
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 7px;
    color: #04b4e0;
    opacity: .5;
}

.testimonial .authorInfo .author {
    margin: 0;
    font-size: 15px;
}

.testimonial .authorInfo .company {
    color: #a5a6a7;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}